#gameArea {
  position: absolute;
  left:     15%;
  top:      8%;
}

#mainBody {
  background-size: cover;
  background-repeat: no-repeat;
}

#newGameBtn {
  position: inherit;
  left:     105%;
  top:      0%;
}

#helpBtn {
  position: inherit;
  left:     105%;
  top:      22%;
}

#btnBody {
  opacity: 0.5;
  border-radius: 25px;
}

#btnBody:hover {
  opacity: 1.0;
  border-radius: 45px;
}

#scores_img {
  position: inherit;
  left:     114.5%;
  top:      47%;
  height:   33;
  opacity: 0.5;
}

#scores {
  position: inherit;
  left:     105.2%;
  top:      54%;
  height:   33;
  opacity: 0.5;
}

#balls {
  position: inherit;
  left:     105.3%;
  top:      60%;
}